
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url("../Fonts/Inter_18pt-Regular.woff") format("woff"),
    url("../Fonts/Inter_18pt-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url("../Fonts/Inter_18pt-Bold.woff") format("woff"),
    url("../Fonts/Inter_18pt-Bold.woff2") format("woff2");
}