@media (min-width: 320px) and (max-width: 560px) {
    .container {
        max-width: 560px;
    }
    
    .bottom-info {
        padding-right: 20px;
    }

    .bottom-info img {
        width: 50px;
        height: 50px;
    }
    
    .contact {
        font-size: 12px;
    }
    
    .contact-text {
       display: none;
    }
    
    .experience {  
        display:flex;   
        flex-wrap: wrap;
    }
    
    .item-name-text {   
        font-size: 14px;
        padding-bottom: 20px;
    }
    
    .item-headings {
        font-size: 15px;
    }
    
    .period {
       font-size: 12px;
    }
    
    .place-of-work {
       padding-left: 45px;
       padding-right: 20px;
    }
    
    .duties-text {
       font-size: 12px;
       line-height: 2;
    }

    .education {
        padding-left: 45px;
    }

    .education-block {
        padding-right: 20px;
        display:flex;
        flex-wrap: wrap;
        
    }
    
    .skills-list {
        display: flex;
        flex-wrap: wrap;
        padding-left: 97px;
    }
    
    .skills-text {
        font-size: 12px;
        line-height: 2;
    }
    
    .links {
        padding-right: 20px;
    }
}

@media (min-width:560px) and (max-width: 720px) {
     
    .container {
        max-width: 720px;
        min-width: 560px;
    }

    .bottom-info {
        padding: 45px 45px 30px 45px;
    }
    
    .bottom-info img {
        width: 70px;
        height: 70px;
    }
       
    .contact {
        font-size: 12px;
    }
    
    .contact-text {
        display: none;
    }
    
    .item-name-text {
        font-size: 13px;
    }
    
    .item-headings {
        font-size: 13px;
    }
    
    .period {
       font-size: 13px;
    }
    
    .place-of-work {
       padding-right: 30px;
       padding-left: 40px;
    }
    
    .duties-text {
       font-size: 12px;
       line-height: 2;
    }
    
    .education {
        padding-left: 47px;
    }
    
    .english {
        padding-left: 41px;
    }
    
    .skills-list {
        padding-left: 76px;
    }
    
    .skills-text {
        padding-right: 16px;
        font-size: 12px;
    }
}



@media (min-width:720px) and (max-width: 960px) {
    .container {
        max-width: 960px;
    }
    .bottom-info img {
        width: 84px;
        height: 84px;
    }
    
    .contact {
        font-size: 10px;
    }

    .contact-info {
        padding-left: 44px;
    }
    
    .contact-h2 {
        font-size: 17px;
    }
    
    .contact-text {
        font-size: 15px;
    }
    
    .item-name-text {
        font-size: 13px;
    }
    
    .item-headings {
        font-size: 12px;
    }
    
    .period {
       font-size: 11px;
    }
    

    .duties-text {
       font-size: 11px;
       line-height: 2;
    }
    
    .skills-list {
    padding-left: 95px;
    }

    .skills-text {
        font-size: 11px;
    }
   
}


@media (min-width:960px) and (max-width: 1140px) {
    .container {
        max-width: 1140px;
    }
    .bottom-info img {
        width: 94px;
        height: 94px;
    }
    
    .contact {
        font-size: 14px;
    }

    .contact-info {
        padding-left: 55px;
    }
    
    .contact-h2 {
        font-size: 21px;
    }
    
    .contact-text {
        font-size: 19px;
    }
    
    .item-name-text {
        font-size: 17px;
    }
    
    .item-headings {
        font-size: 19px;
    }
    
    .period {
       font-size: 15px;
    }
    

    .duties-text {
       font-size: 15px;
       line-height: 2;
    }
    
    .skills-list {
    padding-left: 106px;
    }

    .skills-text {
        font-size: 15px;
    }
}


@media (min-width: 1140px) {
    .container {
        max-width: 1440px;
    }
    .bottom-info img {
        width: 94px;
        height: 94px;
    }
    
    .contact {
        font-size: 14px;
    }

    .contact-info {
        padding-left: 55px;
    }
    
    .contact-h2 {
        font-size: 21px;
    }
    
    .contact-text {
        font-size: 19px;
    }
    
    .item-name-text {
        font-size: 17px;
    }
    
    .item-headings {
        font-size: 19px;
    }
    
    .period {
       font-size: 15px;
    }
    

    .duties-text {
       font-size: 15px;
       line-height: 2;
    }
    
    .skills-list {
    padding-left: 106px;
    }

    .skills-text {
        font-size: 15px;
    }
}

